.name-page {
  .wrapper {
    position: relative;
    top: 10px;
    bottom: 10px;
    width: 200px;
    height: 200px;
    border: 1px solid red;
  }
  .box {
    // position: absolute;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    margin-left: -4px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: darken(#ccc, 52%);
    &:before {
      border-radius: 100%;
      content: ' ';
      display: block;
      height: 24px;
      margin: -8px auto auto -8px;
      width: 24px;
    }
  }
}



@keyframes defaultNowPUSHMode {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes defaultBgPUSHMode {
  from {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes defaultNowPOPMode {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0%, 0, 0);
  }
}
@keyframes defaultBgPOPMode {
  from {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(100%, 0, 0);
  }
}
.translate-POP-now {
  animation: defaultNowPOPMode .3s 1;
  animation-fill-mode: both;
}
.translate-POP-bg {
  animation: defaultBgPOPMode .3s 1;
  animation-fill-mode: both;
}
.translate-PUSH-now {
  animation: defaultNowPUSHMode .3s 1;
  animation-fill-mode: both;
}
.translate-PUSH-bg {
  animation: defaultBgPUSHMode .3s 1;
  animation-fill-mode: both;
}